#!/usr/bin/sh

# git commands
alias config='/usr/bin/git --git-dir=$HOME/.myconf/ --work-tree=$HOME'
alias commit="git commit -m"
alias add="git add"
alias push="git push"
alias amend="git commit --amend"
alias glog="git log"
alias status="git status"
alias replink="git remote add"

# file editing shortcuts
alias v="nvim"
alias vim="nvim"
alias zshrc="nvim ~/.zshrc"
alias bspwmrc="nvim ~/.config/bspwm/bspwmrc"
alias i3rc="nvim ~/.config/i3/config"
alias polyconfig="nvim ~/.config/polybar/config"
alias sxhkdrc="nvim ~/.config/sxhkd/sxhkdrc"
alias termconfig="nvim  ~/.config/termite/config"
alias bspreload="sh ~/.config/bspwm/bspwmrc"

# yaourt and pacman commands
alias unlockdb="sudo rm /var/lib/pacman/db.lck && echo 'Unlocked...'"

# general commands
alias py="python"
alias py2="python2"
alias j="jump"
alias connect="nmcli dev wifi connect"
alias checkstyle="python ~/.scripts/checkstyle.py"
